Source: unzip
Section: non-free/utils
Priority: optional
Maintainer: Santiago Vila <sanvila@ctv.es>
Standards-Version: 2.5.0

Package: unzip
Architecture: any
Depends: ${shlibs:Depends}
Conflicts: unzip-crypt
Replaces: unzip-crypt
Suggests: zip
Description: De-archiver for .zip files
 InfoZIP's unzip program, packaged for Debian GNU/Linux. With the exception
 of multi-volume archives (ie, .ZIP files that are split across several
 disks using PKZIP's /& option), this can handle any file produced either
 by PKZIP, or the corresponding InfoZIP zip program.
