#!/usr/bin/make -f

package = unzip
dtudp = debian/tmp/usr/doc/$(package)

build: 
	$(checkdir)
	make -f unix/Makefile CF="-O2 -I." LDFLAGS="-s" unzips
	touch build

clean:
	$(checkdir)
	-rm -f build
	-make -f unix/Makefile clean
	-rm -rf *~ debian/tmp debian/*~ debian/files* debian/substvars

binary-indep: checkroot build
	$(checkdir)

binary-arch: checkroot build
	$(checkdir)
	-rm -rf debian/tmp
	install -d debian/tmp/DEBIAN
	cd debian/tmp && install -d usr/doc/unzip usr/bin usr/man/man1
	make -f unix/Makefile install prefix=`pwd`/debian/tmp/usr
	gzip -9 debian/tmp/usr/man/man1/*
	cp debian/copyright $(dtudp)
	cp debian/changelog $(dtudp)/changelog.Debian
	cp -p History.520 BUGS ToDo $(dtudp)
	cd $(dtudp) && gzip -9 changelog.Debian History.520
	cd $(dtudp) && ln -s History.520.gz changelog.gz
	dpkg-shlibdeps unzip
	dpkg-gencontrol
	chown -R root.root debian/tmp
	# Set the permissions as they should be - just to make sure.
	chmod -R g-ws,a+rX,u+w,o-w debian/tmp
	dpkg --build debian/tmp ..

define checkdir
	test -f $(package).c -a -f debian/rules
endef

binary: binary-indep binary-arch

checkroot:
	$(checkdir)
	test root = "`whoami`"

.PHONY: binary binary-arch binary-indep clean checkroot
