#!/usr/bin/make -f

package = unzip
dtudp = debian/tmp/usr/doc/$(package)

build:
	$(checkdir)
	make -f unix/Makefile CF="-O2 -I." LDFLAGS="-s" unzips
	touch build

clean:
	$(checkdir)
	-rm -f build
	-make -f unix/Makefile clean
	-rm -rf *~ debian/tmp debian/*~ debian/files* debian/substvars

binary-indep: checkroot build
	$(checkdir)

binary-arch: checkroot build
	$(checkdir)
	-rm -rf debian/tmp
	install -d debian/tmp/DEBIAN
	cd debian/tmp && install -d usr/doc/$(package) usr/bin usr/man/man1
	make -f unix/Makefile install prefix=`pwd`/debian/tmp/usr
	cat debian/copyright.in COPYING > $(dtudp)/copyright
	cp debian/changelog $(dtudp)/changelog.Debian
	cp -p History.* BUGS ToDo debian/email-from-greg $(dtudp)
	cd $(dtudp) && gzip -9 changelog.Debian History.*
	ln -s History.532.gz $(dtudp)/changelog.gz
	gzip -r9 debian/tmp/usr/man
	dpkg-shlibdeps unzip
	dpkg-gencontrol
	cd debian/tmp && md5sum `find * -type f ! -regex "DEBIAN/.*"` >DEBIAN/md5sums
	chown -R root.root debian/tmp
	chmod -R go=rX debian/tmp
	dpkg --build debian/tmp ..

define checkdir
	test -f $(package).c -a -f debian/rules
endef

binary: binary-indep binary-arch

checkroot:
	$(checkdir)
	test root = "`whoami`"

.PHONY: binary binary-arch binary-indep clean checkroot
